<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudReach Airlines</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- Headeri osa -->
<div th:replace="~{header.html}"></div>

<!-- Peamine sisu -->
<section class="main-content">
    <h2>Planeeri oma lend!</h2>
    <p>textexttexttexttexttext jne.</p>
</section>

<!-- Footeri osa -->
<div th:replace="~{footer.html}"></div>

</body>
</html>
